canvas {
    width: auto; /* Ensure the canvas stretches to the container width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    display: block;
    margin: 0 auto;
  }
  
  .chart-container {
    width: 100%; /* Full width of the parent element */
    height: calc(100vh - 20px); /* Optional: Adjust height to fill the screen (minus some padding) */
    max-width: 100%; /* Ensure no limit on width */
    overflow: hidden; /* Prevent horizontal scrolling */
    margin: 0 auto; /* Center align */
    padding: 10px; /* Optional padding for aesthetics */
    box-sizing: border-box;
  }


  @media only screen and (max-width: 600px) {
    .progress-item {
      flex-direction: column; /* Stacks items vertically on smaller screens */
      align-items: flex-start; /* Align items to the left */
    }
  
    .date {
      font-size: 12px;
      width: auto; /* Allow the date to wrap if needed */
      margin-bottom: 5px; /* Add space between date and progress bar */
    }
  
    .progress {
      width: 100%; /* Make sure progress bar takes up full width */
      height: 15px; /* Adjust the height for mobile view */
    }
  
    .progress-bar {
      font-size: 12px;
      line-height: 15px;
    }
  }